
.navbar{
    background-color: teal;
    padding: none;
    margin:0;
}

.navbar-brand {
    margin:0;
    padding:20px;
    height:100%;
    font-weight: bold;
    background-image: none;
    background-repeat: no-repeat;
    
}
.custRow{
    justify-content: space-between;
}


.customcss{
    background-color: white;
    
}
.container{
    align-content: flex-start;
    margin-top:30px;
    margin-left:30px;
    
}
.container2{
    background-color:blue;
    margin:20px,20px;
}
img{
    justify-content: space-around; 
}
body{
    background-color: lightgray;
    
}

footer{
    position:fixed;
    bottom:0;
    width:100%;
    clear:both;
    height:60px;
    background-color: gray;
    display:flex;
}
.copy{ 
    margin:auto; 
}
.projects{
    display: flex;
    
    justify-content: space-around;
    
}
.card{
    margin:20px;
    
    max-width: 500px;
    max-height: 500px;
    
}
@media only screen and (max-width: 640px) {
.container-fluid{
    flex-direction: column;
    
}
.navbar-nav{
    flex-direction: row;
    
}
li{
        padding-left:30px;
        padding-right:30px;
      }
}